$r1h: 80px;
$r2h: 64px;
$c1w: 30vw;
$c2w: 70vw;
$pad1: 4px;
$pad2: 8px;
$pad3: 12px;

.App {
  text-align: left;
  grid-template-columns: $c1w $c2w;
  grid-template-rows: $r1h $r2h 1fr;
  width:100vw;
  height: calc(var(--vh, 1vh) * 100);
  // height:100vh;
  margin:0;
  padding:0;
  display: grid;
  z-index: 10;
}

.SplashScreen {
    display: flex;
    position: fixed;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    // background-color: white;
    z-index: 100;
    // background-image:url('water.jpg');
    // background-size: cover;
    // background-position: center;
}

.Logo {
    grid-column: 1;
    grid-row: 1;
    margin:0;
    display: grid;
    z-index: 20;
}

.logoimg {
    display: block;
    max-height: 38px;
    max-width: $c1w;
    margin:auto;
}

.SearchBar {
    grid-column: 2;
    grid-row: 1;
    border:0px solid red;
    margin:0;
    display: grid;
    z-index: 20;
}

.StatusBar {
    grid-column: 1 / span 2;
    grid-row: 2;
    border:0px solid blue;
    background-color: #eee;
    width:100vw;
    display: grid;
    z-index: 20;
}

.ResultList {
    grid-column: 2;
    grid-row: 3;
    border:0px solid green;
    display: grid;
    overflow: hidden;
    padding: $pad1 $pad2 $pad1 $pad1;
    z-index: 20;
}

.Facets {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    padding: $pad1 $pad1 $pad1 $pad3;
    overflow: scroll;
    z-index: 20;
}

.TitleView { /* FIXME */
  width:100vw;
}

.stdui {
    height: 48px;
    background-color: white;
    vertical-align: top;
}

.fullwidth {
    width: 100%;
}

.allauto {
	margin:auto;
}

.listitem {
    margin-top:$pad1;
}

.morebutton {
    padding:$pad3;
    width: 100%;
}

.scrollable {
    overflow: scroll;
}

.mobileonly {
  display:none;
}

.horizontalpadding {
  margin-left:8px;
  margin-right:8px;
}

.verticalpadding {
  margin-top: 8px;
  margin-bottom:8px;
}

.greybackground {
  background-color: #eee;
}

.overlay {
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  position: fixed;
  display: flex;
  z-index:10000;
  background-color: #0008;
}

.bottomline {
  color:#444;
  padding-left:$pad2;
  position:absolute;
  bottom:$pad2;
  font-size: 10pt;
}
