@media (max-aspect-ratio: 16/17) {

    $r1h: 10vh;
    $r2h: 5vh;
    $r3h: 84vh;
    $c1w: 99vw;
    $pad1: 1vh;
    $pad2: 2vh;
    $pad3: 3vh;

    .App {
      grid-template-columns: $c1w;
      grid-template-rows: $r1h $r2h $r3h;
      width:99vw;
      height:99vh;
      margin:0px;
      padding:0px;
      display: grid;
      z-index: 10;
    }

    .Logo {
        display: none;
    }

    .SearchBar {
        grid-column: 1;
        grid-row: 1;
        width:$c1w;
        height:$r1h;
        padding:$pad1;
        border:0px solid red;
        margin:0px;
        display: grid;
        z-index: 20;
    }

    .StatusBar {
        grid-column: 1;
        grid-row: 2;
        width:100%;
        height:$r2h;
        border:0px solid blue;
        background-color: #ccc;
        padding: $pad1;
        display: grid;
        z-index: 20;
    }

    .ResultList {
        grid-column: 1;
        grid-row: 3;
        width:$c1w;
        height:$r3h;
        border:0px solid green;
        display: grid;
        overflow: scroll;
        z-index: 20;
    }

    .Facets {
        grid-column: 1;
        grid-row: 3;
        display: none;
        padding: $pad1 $pad1 $pad1 $pad3;
        overflow: scroll;
        z-index: 20;
    }

    .TitleView {
        width:90vw;
        padding:$pad3;
    }

    .stdui {
        width:31vw;
    }

    .logoimg {
        display:none;
    }

}
