@media (max-aspect-ratio: 10/13) {

    $mr1h: 80px;
    $mr2h: 64px;
    $mc1w: 100vw;

    .App {
      grid-template-columns: $mc1w;
      grid-template-rows: $mr1h $mr2h 1fr;
    }

    .Logo {
        display: none;
    }

    .logoimg {
        display:none;
    }

    .SearchBar {
        grid-column: 1;
        grid-row: 1;
    }

    .ResultList {
        grid-column: 1;
        grid-row: 3;
    }

    .Facets {
        display: none;
    }

    .stdui {
        width:30vw;
    }

    .mobileonly {
      display:inline-block;
    }

}
