$r1h: 80px;
$r2h: 5vh;
$r3h: 82vh;
$c1w: 30vw;
$c2w: 69vw;
$pad1: 1vh;
$pad2: 2vh;
$pad3: 3vh;

.App {
  text-align: left;
  grid-template-columns: $c1w $c2w;
  grid-template-rows: $r1h $r2h 1fr;
  width:99vw;
  // height: calc(var(--vh, 1vh) * 100);
  height:99vh;
  margin:0;
  padding:0;
  display: grid;
  z-index: 10;
}

.Logo {
    grid-column: 1;
    grid-row: 1;
    margin:0;
    padding:$pad3;
    display: grid;
    z-index: 20;
}

.SearchBar {
    grid-column: 2;
    grid-row: 1;
    border:0px solid red;
    margin:0;
    padding:$pad3;
    display: grid;
    z-index: 20;
}

.StatusBar {
    grid-column: 1 / span 2;
    grid-row: 2;
    border:0px solid blue;
    background-color: #eee;
    padding-left: $pad3;
    display: grid;
    z-index: 20;
}

.ResultList {
    grid-column: 2;
    grid-row: 3;
    border:0px solid green;
    display: grid;
    overflow: scroll;
    z-index: 20;
}

.Facets {
    grid-column: 1;
    grid-row: 3;
    display: grid;
    padding: $pad1 $pad1 $pad1 $pad3;
    overflow: scroll;
    z-index: 20;
}

.TitleView {
    width:90vw;
    padding:$pad3;
}

.stdui {
    height: 38px;
}

.mainlogo {
    padding-right: $pad2;
}

.logoimg {
    padding-top: 0;
    max-height: 38px;
    max-width: $c1w;
    display:inline-block;
}

.fullwidth {
    width: 100%;
}

a {
    text-decoration: none;
}
